body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f7f6;
    color: #444;
  }
  
  h1, h2 {
    text-align: center;
    color: #5D3B99;
  }
  
  input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    border: 2px solid #5D3B99;
  }
  
  button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5D3B99;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  button:hover {
    background-color: #7D5BA6;
  }
  
  #messageList {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
  }
  
  #messageList li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #EFEFEF;
    border-left: 5px solid #5D3B99;
  }
  
  #messageList li:nth-child(odd) {
    background-color: #DDD;
  }
  
  #messageList li:nth-child(even) {
    border-left-color: #7D5BA6;
  }
  
  @media (max-width: 600px) {
    input[type="text"], button {
      width: 90%;
    }
  }
  