body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif !important;
}

.brand {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 500;
}

.chat-input-container {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) !important;
}

.chat-input-container:focus-within {
    outline: rgba(var(--bs-primary-rgb), 0.25) solid 0.2rem;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)) !important;
}

.message-dtm {
    opacity: 0;
    transition: opacity 1s;
    font-size: small;
}

.chat-message {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)) !important;
    outline: 1px solid rgba(0, 0, 0, 0);
    border-radius: 36px;
    /* transform: scale(1); */
    transition: outline 1s;
    /* background: rgba(0, 0, 0, 0); */
}

.chat-message:hover {
    outline: 3px solid rgba(var(--bs-primary-rgb), 0.25);
    /* background: rgba(var(--bs-secondary-rgb), 0.05) !important; */
    transform: scale(1.01) !important;
    transition: outline 0.25s;
}

.chat-message:hover .message-dtm {
    opacity: 0.75;
    transition: opacity 0.25s;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.25);
    margin: 5px;
    border-radius: 6px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.125);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(143, 197, 255, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: rgba(71, 160, 255, 0.5);
}

@keyframes flyInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyInFromLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flyInFromRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(75%);
        opacity: 0;
    }
    to {
        transform: scale(100%);
        opacity: 1;
    }
}

.zoom-in-animation {
    animation: zoomIn 0.5s forwards;
}

.nav-bar {
    background: linear-gradient(to top, rgba(55, 140, 231, 1), rgba(55, 140, 231, 1));
    animation: flyInFromTop 0.75s ease-out forwards;
    border-bottom: #76b0d1 6px solid;
}

.chat-input-animation {
    animation: flyInFromBottom 0.75s ease-out forwards;
}

.chat-fly-right-animation {
    animation: flyInFromLeft 0.5s ease-out forwards;
}

.chat-fly-left-animation {
    animation: flyInFromRight 0.5s ease-out forwards;
}

.clear-chat-button {
    position: fixed;
    left: 50%;
    bottom: 15%;
    opacity: 0;
    transition: opacity 0.5s;
}

.chat-input-container:focus-within .clear-chat-button {
    opacity: 0.6;
    transition: opacity 0.25s;
    cursor: pointer;
}

.chat-input-container:focus-within .clear-chat-button:hover {
    opacity: 1 !important;
}

.hr-label {
    background-color: var(--bs-body-bg);
    position: absolute;
    transform: translateY(-140%) translateX(-50%);
    left: 50%;
    font-size: small;
}

.chat-display-container {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.gradient {
    background: linear-gradient(to top, rgba(122, 162, 227, 0.5), rgba(122, 162, 227, 0.2));
    /* background: linear-gradient(to top, rgba(106, 212, 221, 1), rgba(106, 212, 221, 0.5)); */
}

.chat-container {
    border-radius: 0.75rem;
    border: solid 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* Hide text on nav items by default */
.nav-item-text {
    display: none;
}

/* Show text on nav items for smaller screens */
@media (max-width: 991px) {
    .nav-item-text {
        display: inline;
    }
}

.text-small {
    font-size: small;
}

.profile-circle {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
